<h1> <%= @user.name %>'s Show Page </h1>

Bio: <%= @user.bio %> <br>
Birthday: <%= @user.birthday %> <br>
Post Count: <%= @user.post_count%> <br>
Life Spent Watching Anime (mins): <%= @user.life_spent_on_anime%> <br>
