<h1><%= @anime.title %></h1>
<p><%= @anime.average_rating %></p><br>
<p> <img class="show-img" src="<%= @anime.poster_image %>" alt="<%= @anime.poster_image %>" style="width:600px;height:400px;object-fit: cover;"></p>
<p><%= @anime.synopsis %></p>
<p><%= @anime.start_date %></p><br>
<p><%= @anime.end_date %></p><br>
<p><% @anime.reviews.each do |review|%></p>
<div> User Rating (out of 10): <%= review.rating %></div><br>
    User comment: <%= review.comment %> <br>

    <%end%>


