<h1><%= @anime.title %></h1>

<h3><%= @anime.start_date %></h3><br>
<h3><%= @anime.end_date %></h3><br>
<h3><%= @anime.average_rating %></h3><br>
<h3><%= @anime.poster_image %></h3><br>
<h3><%= @anime.synopsis %></h3>

<h3><% @anime.reviews.each do |review|%>
<div> User Rating (out of 10): <%= review.rating %></div><br>
    User comment: <%= review.comment %> <br> 


    <%end%>
