<!DOCTYPE html>
<html>
  <head>
    <title>SpaceCowboy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <div class='header'>
      SPACE COWBOY
    </div>
    <div class='nav'>
      <ul class='nav-ul'> 
          <% if @current_user %>
          <li> Welcome <%= @current_user.name %>! </li>
          <li><%= link_to 'All Animes', animes_path %></li>
          <li><%= link_to 'My Profile', user_path(@current_user)%></li>
          <li><%= link_to 'Write A Review', new_review_path %></li>
          <li><%= link_to 'Sign Out', logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'All Animes', animes_path %></li>
          <li><%= link_to 'Create An Account', new_user_path%></li>
          <li><%= link_to 'Sign-In!', new_login_path%></li>
        <% end %>
      </ul>
    </div>
    
    
    
    
    
    
    
    <%= yield %>
  </body>
</html>
